<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <section class="profile">
        <h1>About Me</h1>
        <hr />
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro
          adipisci asperiores doloremque consectetur architecto? Nesciunt sed
          quasi, amet harum aspernatur dignissimos quo. Commodi aperiam ducimus
          quaerat ab reiciendis, labore assumenda?
        </p>
      </section>
      <section class="contact">
        <h1>Contact Me</h1>
        <hr />
        <div class="socmed-list">
          <div class="socmed">
            <a href="linkedin.com" target="_blank"
              ><i class="bi bi-linkedin"></i
            ></a>
            Linkedin
          </div>
          <div class="socmed"><i class="bi bi-instagram"></i> Instagram</div>
          <div class="socmed"><i class="bi bi-twitter-x"></i> Twitter</div>
          <div class="socmed"><i class="bi bi-facebook"></i> Facebook</div>
          <div class="socmed"><i class="bi bi-youtube"></i> youtube</div>
        </div>
      </section>
    </div>
  </body>
</html>
